.container,
.todo-container {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    margin-bottom: 20px;
    row-gap: 20px;
    column-gap: 5px;
}

.input-text,
.date-select {
    font-size: 16px;
    padding: 6px
}

.delete-button {
    padding: 6px;
    background-color: darkred;
    border: none;
}

.submit {
    background-color: green;
    border: none;
    font-weight: bold;
}